---
import ImageImporter from "../ImageImporter.astro";
import LottieView from "../LottieView.jsx";
import Hi from "./Hi.astro";
import SlideshowForTiles from "../SlideshowForTiles.jsx";
// import SanutIlokanoTracing from "../assets/sanut-ilokano-tracing.mp4";

interface Props {
  viewType: string;
  image: string;
  orientation: string;
  classes: string;
  wh: string;
  imgKeys: Array<String>;
  lottieAnimationData: any;
}
const { viewType, orientation, classes, wh, imgKeys, lottieAnimationData } =
  Astro.props;
// w-[272px] h-[572px]
// h-[600px] w-[300px]

const orientationAwareValues = ({ landscapeValues, portraitValues }) =>
  orientation === "landscape" ? landscapeValues : portraitValues;
---

<script>
  import { comboViewerCounter, comboViewerInterval } from "../../store.js";

  document.getElementById("slideshow-0").style.display = "inherit";
  document.getElementById("slideshow-1").style.display = "none";

  setInterval(() => {
    document.getElementById(
      "slideshow-" + comboViewerCounter.get()
    ).style.display = "inherit";
    comboViewerCounter.set((comboViewerCounter.get() + 1) % 2);

    document.getElementById(
      "slideshow-" + comboViewerCounter.get()
    ).style.display = "none";
  }, comboViewerInterval.get()); // Change view every 5 seconds
</script>

<div class=`col-span-2 p-2 rounded row-span-1 ${classes} ${wh}`>
  <!-- <PhoneMockup orientation="landscape" /> -->
  <div
    class=`relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] ${wh}`
  >
    <div
      class=`${orientationAwareValues({ landscapeValues: "h-[3px] w-[32px]", portraitValues: "h-[32px] w-[3px]" })} bg-gray-800 dark:bg-gray-800 absolute ${orientationAwareValues({ landscapeValues: "left-[2rem] -top-[1.02rem]", portraitValues: "-left-[1.02rem] top-[40%]" })} rounded-l-lg`
    >
    </div>
    <div
      class=`${orientationAwareValues({ landscapeValues: "h-[3px] w-[46px]", portraitValues: "h-[46px] w-[3px]" })} bg-gray-800 dark:bg-gray-800 absolute ${orientationAwareValues({ landscapeValues: "left-[5rem] -top-[1.02rem]", portraitValues: "-right-[1.02rem] top-[40%]" })} rounded-l-lg`
    >
    </div>
    <!-- <div
      class=`h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[178px] rounded-l-lg`
    >
    </div> -->
    <div
      class=`${orientationAwareValues({ landscapeValues: "h-[3px] w-[64px]", portraitValues: "h-[64px] w-[3px]" })} bg-gray-800 dark:bg-gray-800 absolute ${orientationAwareValues({ landscapeValues: "left-[2rem] top-[108%]", portraitValues: "-right-[1.02rem] top-[40%]" })} rounded-r-lg`
    >
    </div>
    <!-- screenshot and container -->
    <div class=`rounded-[2rem] overflow-hidden ${wh} bg-slate-50`>
      <!-- <img
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-light.png"
        class=`dark:hidden ${wh}`
        alt=""
      />
      <img
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-dark.png"
        class=`hidden dark:block ${wh}`
        alt=""
      /> -->
      <div class="grid place-content-center h-full">
        {
          viewType === "combo:lottie-img" ? (
            <>
              <div id="slideshow-0">
                <LottieView client:load animationData={lottieAnimationData} />
              </div>
              <div id="slideshow-1">
                <video autoplay muted playsinline loop>
                  <source src={"sanut-ilokano-tracing.mp4"} type="video/mp4" />
                </video>
              </div>
            </>
          ) : // <>
          //   {[
          //     {
          //       child: (
          //         <LottieView
          //           client:load
          //           animationData={lottieAnimationData}
          //         />
          //       ),
          //       duration: 12000,
          //     },
          //     { child: <ImageImporter imgKeys={imgKeys} />, duration: 12000 },
          //   ].map((childObject, childIndex) => (
          //     <SlideshowForTiles
          //       client:load
          //       childIndex={childIndex}
          //       duration={childObject?.duration}
          //     >
          //       {childObject?.child}
          //     </SlideshowForTiles>
          //   ))}
          // </>
          viewType === "lottie" ? (
            <LottieView client:load animationData={lottieAnimationData} />
          ) : (
            <ImageImporter imgKeys={imgKeys} />
          )
        }
      </div>
    </div>
  </div>
</div>
